
p{
    font-size: 1.2em;
    font-family: 'Helvetica';
    color: black;
    text-justify: auto;
 

}
body{
    background-color:rgb(255, 255, 255);

}

h1 {
    font-size: 2em;
    font-family: Helvetica;
    color: black;

}

h2 {
    font-size: 1.5em;
    font-family: Helvetica;
    color: black;
}
h3 {
    font-size: 1.2em;
    font-family: Helvetica;
    color: black;
}
figcaption {
    justify-content: center;
    font-family: 'Helvetica';
    color:rgb(42, 125, 177)
}
head {
    color: lightskyblue;

}
figure {
    justify-items:center;
}

.dropbtn {
    background-color: rgb(39, 146, 212);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    object-position:center;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 360px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
 
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
 
  .dropdown-content a:hover {background-color: rgb(68, 187, 255);}
  
  
  .dropdown:hover .dropdown-content {display: block;}
  

  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .your-centered-div {
    width: 560px; /* you have to have a size or this method doesn't work */
    height: 315px; /* think about making these max-width instead - might give you some more responsiveness */

    position: absolute; /* positions out of the flow, but according to the nearest parent */
    top: 0; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto; /* make em equal */
}